{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Assistant API",
    "description": "API for interacting with an AI assistant.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sip.launchlemonade.app/version-live/api/1.1/wf"
    }
  ],
  "paths": {
    "/run_assistant": {
      "post": {
        "summary": "Run AI Assistant",
        "description": "Sends a query to the AI assistant and retrieves a response.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assistant_id", "input"],
                "properties": {
                  "assistant_id": {
                    "type": "string",
                    "description": "Unique identifier for the AI assistant."
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "Unique identifier for the conversation (optional)."
                  },
                  "input": {
                    "type": "string",
                    "description": "User input/query to be processed."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Conversation_ID": {
                      "type": "string",
                      "description": "Unique conversation identifier."
                    },
                    "Response_ID": {
                      "type": "string",
                      "description": "Unique response identifier."
                    },
                    "Error": {
                      "type": "string",
                      "description": "Indicates if there was an error (\"Yes\" or \"No\")."
                    },
                    "Error_Reason": {
                      "type": "string",
                      "description": "Description of any error encountered."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get_run_assistant": {
      "post": {
        "summary": "Get AI Assistant Response",
        "description": "Retrieves the response for a given response ID.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["response_id"],
                "properties": {
                  "response_id": {
                    "type": "string",
                    "description": "Unique identifier for the response request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "string",
                      "description": "The AI assistant's response in Markdown format."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
